<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TuneInDaily - Archive</title>
</head>
<body>
    <!-- Main Content -->
    <div class="container">
        <h1>Archive</h1>

        <div class="entries-list">

	    <div *ngIf="entries.length === 0">
		No entries yet.
	    </div>

            <div class="entry-card" *ngFor="let entry of entries" [routerLink]="['/view-entry', entry._id]">
                <h2 class="entry-title">{{ entry.songTitle }}</h2>
		<h3> {{ entry.artist }}</h3>
                <p class="entry-date">{{ entry.createdAt | date:'mediumDate' }}</p>
                <p class="entry-preview">
			{{ entry.entryText }}
                </p>
            </div>


        </div>
    </div>
</body>
</html>

